name: CI Pipeline

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  run-pipeline:
    if: github.repository != 'G4Med-test/template'
    
    uses: G4Med-test/ci-workflows/.github/workflows/pipeline.yml@main
    permissions:
      contents: read
      packages: write
    with:
      image_name: "${{ github.event.repository.name }}.sif"
